src/main/mule/mulesoft-cicd-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="mulesoft-cicd-app-flow" doc:id="342a7d44-6fc1-40a8-a555-353ce148190d" >
		<scheduler doc:name="Scheduler" doc:id="ddaa6738-43f8-45e3-ba3a-ae00902403a2" >
			<scheduling-strategy >
				<fixed-frequency frequency="10" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</scheduler>
		<logger level="INFO" doc:name="Logger" doc:id="17927e83-ae6d-4f45-bc4f-57fb5b758209" message='#["This is demo app for CI/CD"]'/>
	</flow>
</mule>
